# Edit this file to enable/disable shell configurations

DOTFILES_HOME="${HOME}/.dotfiles"

# [Common]:

. ${DOTFILES_HOME}/alias.rc
. ${DOTFILES_HOME}/emacs/emacs.rc

. ${DOTFILES_HOME}/macos/keymappings.rc
. ${DOTFILES_HOME}/macos/osx-bash.rc

. ${DOTFILES_HOME}/git/git.rc

. ${DOTFILES_HOME}/golang/golang.rc
. ${DOTFILES_HOME}/python/python.rc


# [ Bash Common Section ]:
. ${DOTFILES_HOME}/bash/bash-function.rc
. ${DOTFILES_HOME}/bash/docker.rc


# [ Bash Completion Section ]:
if [ -f $(brew --prefix)/etc/bash_completion ]; then
	. $(brew --prefix)/etc/bash_completion
	. $(brew --prefix)/etc/bash_completion.d/git-completion.bash

    [[ -f ${DOTFILES_HOME}/bash/bash_completion/git-completion.bash ]] && . ${DOTFILES_HOME}/bash/bash_completion/git-completion.bash
    [[ -f ${DOTFILES_HOME}/bash/bash_completion/docker ]] && . ${DOTFILES_HOME}/bash/bash_completion/docker
    [[ -f ${DOTFILES_HOME}/bash/bash_completion/docker-compose ]] && . ${DOTFILES_HOME}/bash/bash_completion/docker-compose
    [[ -f ${DOTFILES_HOME}/bash/bash_completion/vagrant ]] && . ${DOTFILES_HOME}/bash/bash_completion/vagrant
    [[ -f ${DOTFILES_HOME}/bash/bash_completion/qshell ]] && . ${DOTFILES_HOME}/bash/bash_completion/qshell
fi
