# Common
function echo_red()   { echo -e "\e[31m$@\e[0m"; }
function echo_green() { echo -e "\e[32m$@\e[0m"; }
function echo_blue()  { echo -e "\e[34m$@\e[0m"; }

# Network
function oogeoipaddr() { curl -s https://ipapi.co/$1/json/ | jq ; }
